<div class="nav-items">
  <div class="nav-item">
    <fa-icon [icon]="faInfoCircle"></fa-icon>
    <a routerLink="/home/about" routerLinkActive="active">About</a>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faUsers"></fa-icon>
    <a routerLink="/home/users" routerLinkActive="active">Users</a>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faCar"></fa-icon>
    <a routerLink="/home/carmodels" routerLinkActive="active">Car Models</a>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faWarehouse"></fa-icon>
    <a routerLink="/home/inventory" routerLinkActive="active">Inventory</a>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faDollarSign"></fa-icon>
    <a routerLink="/home/sales" routerLinkActive="active">Sales</a>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faChartBar"></fa-icon>
    <a routerLink="/home/stats" routerLinkActive="active">Statistics</a>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faIndustry"></fa-icon>
    <a routerLink="/home/production" routerLinkActive="active">Production</a>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faTruck"></fa-icon>
    <a routerLink="/home/supplier" routerLinkActive="active">Supplier</a>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faComments"></fa-icon>
    <a routerLink="/home/feedback" routerLinkActive="active">Feedback</a>
  </div>
  
</div>
